/* Min Width Media Queries */
@media screen and (min-width: 1200px) {

}


/* Max Width Media Queries */
@media only screen and (max-width: 1920px) {
    .user-dashboard-main .container-fluid, .dashboard {max-width: 100%;}
}
@media only screen and (max-width: 1440px) {
    .payment-successfull-wrap {padding: 70px 0;}
}
@media only screen and (max-width: 1400px) {
    .dash-main .nav-pills .nav-link {margin-left: 16px;}
}
@media only screen and (max-width: 1280px) {
    .tab-wrap .nav-tabs li a {font-size: 20px;}
    .tab-wrap .nav-tabs li a i {font-size: 22px;}
    .tab-wrap h5 {font-size: 22px;}
    .dash-main .nav-pills .nav-link {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 1199px) {
    .desktop-menu {display: none;}
    .navbar{position: absolute;}
    .description-video .border-btn{    width: fit-content;}
    .description-video{    padding: 40px 20px 26px 40px;}
    .f-34{font-size: 30px;}

    .icon-box {width: 58px;height: 58px;}
    .contact-wrap {padding: 20px;min-height: 196px;}
    .icon-box img {transform: scale(0.9);}
    .contact-wrap p {font-size: 13px;}
    .map-wrap {height: auto;}
    header{padding:30px 0px;}
    .news-serachbox .n-s-wrapper{flex-direction: column;}
    .news-serachbox .search-box-combo{margin: auto;}
    .single-demand .hover-text {padding: 20px 20px;}
    .single-demand .border-btn {padding: 8px 20px; font-size: 14px;}
    .tab-wrap .nav-tabs li {width: auto;}

    .stock-view-list .right-content {padding-left: 0px; }
    .full-list .description > div.sub{flex-direction: column; margin-bottom: 30px; }
    .right-side .search{margin-left: 40px;}
    .single-demand .top-img {height: 232px;}
    .dash-main .nav-pills .nav-link {padding: 10px 12px;}

    .bundle-btns{display:flex;align-items:center}
    .bundle-btns .add-cart{width:auto}
    .font-40{font-size:36px!important}
    .faculty-list{flex-wrap:wrap}
    #faculty .faculty-list .single-demand{margin:10px 5px 0}
    .payment-successfull-wrap h1{font-size:40px}
    .stock-view-list .right-content{margin-left: 0;}

    .question-list li label.question-name{font-size:18px;line-height:22px;min-height:30px;padding-left:42px}
    .cart-table h4{font-size:18px;line-height:22px}
    .primary-table thead th{font-size:16px}
}
@media only screen and (max-width: 1080px) {
    .dash-main .nav-pills{flex-wrap:nowrap;overflow-x:auto;padding-left:5px}
    .dash-main .nav-pills::-webkit-scrollbar{height:6px}
    .dash-main .nav-pills::-webkit-scrollbar-track{background:#f1f1f1}
    .dash-main .nav-pills::-webkit-scrollbar-thumb{background:#888}
    .dash-main .nav-pills::-webkit-scrollbar-thumb:hover{background:#007bff}
    .dash-main .nav-pills li:last-child{padding-right:20px}
    .order-table thead th{display:none}
    .order-table tbody td,.order-table tbody th{display:block}
    .order-table [rowheader]{position:relative;width:100%;vertical-align:middle}
    .order-table [rowheader]:before{content:attr(rowheader);vertical-align:middle;text-align:left;padding-right:0;font-weight:700;font-family:'TradeGothic LT';display:inline-block;min-width:100px;position:absolute;left:15px}
    .order-table tbody td,.order-table td:first-child{text-align:right;padding:8px 12px;display:flex;align-items:center;justify-content:flex-end}
    .order-table td:first-child{padding-top:15px;padding-left:150px}
    .order-table td:last-child{padding-bottom:15px}
}

@media only screen and (max-width: 991px) {
    .navbar-collapse.show {-webkit-transform: translateX(0%); transform: translateX(0%); }
    .f-34{font-size: 26px; }
    .file-main > div{    padding: 121px 15px 45px 15px;}
    footer ul{margin-top: 30px;}
    footer .copy-right{margin-top: 40px;}
    .subscribe-box{flex-direction: column;align-items: center;}
    .subscribe-box input[type="text"]{margin-bottom: 15px;margin-right: 0;}
    .testimonial-container .swiper-slide{padding: 0px 120px;}
    .search-box-combo .search-box .search-bx {width: 250px;}
    .select-box {width: 270px;}
    .search-box-combo .submit-btn input[type="submit"]{    padding: 0px 14px 0px 20px;}
    .full-list  .sub-details{flex-direction: column;}
    .dash-main .nav-pills .nav-link{margin-left: 10px;font-size: 14px;    padding: 10px 10px;}
    .full-list .description .btn-grp{display: flex;align-items: flex-start; flex-direction: column;}
    .full-list .description .btn-grp a{margin-top: 20px;}
    .full-list .description{    padding-left: 20px;}
    .create-account  .icon-left{max-width: 100%;margin-bottom: 30px;}
    .full-list .sub-details div{margin-left: 0;}
    .sign-right{padding-left: 0;margin-top: 30px;}
    .sign-right:before{content: none;}
    .user-dashboard-main .account{display: none;}
    .user-dashboard-main .top-title span{padding-left: 0;margin-bottom: 10px;}
    .user-dashboard-main .top-title{flex-direction: column-reverse;align-items: flex-start !important;}
    .contact-info-wrap {margin-top: 35px;}
    .user-dashboard-main .state-category ul li:not(:last-child){    padding-right: 60px;}
    .user-dashboard-main .state-category ul li:after{    right: 30px;}
    .news-serachbox .search-box-combo .search-box .search-bx{    width: 180px;}
    .news-serachbox  .search-box-combo{    padding: 19px 15px;}
    .news-serachbox .select-box {width: 190px;    padding: 0px 20px; }
    .team-wrap .team-info h4 {font-size: 22px;}
    .tab-wrap h5 {width: 100%;margin-bottom: 10px;}
    .news-wrap .row img{margin-bottom: 30px;}
    header .container {max-width: 100%;}

    .data-listing thead{position:absolute;left:-9999px;overflow:hidden;width:0;height:0}
    .data-listing table,.data-listing tbody,.data-listing td,.data-listing th,.data-listing thead,.data-listing tr{display:block}
    .data-listing tbody tr td::before{display:inline-block;width:25%;min-width:100px;border-right:2px dotted #999;margin-right:10px;position:absolute;left:10px;text-align:left;font-size:12px}
    .data-listing tbody tr td::before{content:attr(data-parent-name)}
    .data-listing tbody td{text-align:right;position:relative}
    .data-listing tbody td:nth-child(2){text-align:right}
    .expiration-date-left{min-width:auto;max-width:100%;text-align:left}
    .font-40{font-size:30px!important}
    .faculty-list{flex-wrap:wrap;padding:0 10px;margin-left:2px}
    .activity-points-wrap h4{font-size:24px;line-height:34px}

    .primary-table.cart-table tbody td{display:block}
    .primary-table.cart-table tbody td{position:relative;text-align:left;border-top:none;padding:6px 15px 6px 0}
    .primary-table.cart-table thead{display:none}
    .cart-table tbody td:last-child{padding-right:45px;padding-bottom:15px!important}
    .primary-table.cart-table tbody td:first-child{padding-top:20px}
    .cart-table tbody tr{border-bottom:1px solid #ddd}
    .cart-table tr.sub-tr td:first-child:before{display:block}
    .cart-table tr.sub-tr td:first-child{text-align:left;padding-left:0}
    .cart-table tr.sub-tr td{padding:6px 15px 6px 0}
    .cart-table tr.sub-tr td:last-child{width:auto;padding-right:45px}
    .cart-table tr.main-tr td{padding-bottom:6px}
    tr.sub-tr-seprator{display:none}
    .cart-table tr.sub-tr td:first-child{padding-top:15px}
    .abstract-tbl td.text-lg-left {padding-left: 120px;}
    .abstract-tbl td.abstact-info-td {max-width: 100%;}
    .data-listing tbody td {font-size: 15px;}
}
@media only screen and (max-width: 767px) {
    .right-side .search {margin-left: 10px; }
    .logo{margin-left: 20px;}
    h1, .h1{    font-size: 38px;}
    .video-section{flex-direction: column;}
    .video-wrap{width: 100%;height: 250px;}
    .description-video{width: 100%;max-width: 100%;}
    .description-video .border-btn {margin-top: 20px; }
    .description-video {padding: 20px; }
    .file-main{flex-direction: column;}
    .file-main > div{width: 100%;    padding: 90px 15px 35px 15px;}
    h3, .h3{    font-size: 22px;}
    h2, .h2{font-size: 26px;}
    h4, .h4{font-size: 18px;}
    .event{    padding: 35px 0px 20px 0px;}
    .image-main .image.video-wrap{height: auto;}
    .testimonial-container .swiper-slide{padding: 0px 70px;}
    .testimonial-container .content:before, .testimonial-container .content:after{height: 30px;width: 30px;}
    .search-box-combo{flex-direction: column;align-items: normal;}
    .search-box-combo .search-box i{    font-size: 20px;}
    .search-box {border-bottom: 1px solid #D8D5D5;    padding: 10px 0px;}
    .search-box-combo .search-box .search-bx{width: 100%;border-right: 0;margin-left: 10px;}
    .select-box{  padding:10px 0px;width: 100%;border-right: 0;border-bottom: 1px solid #D8D5D5;}
    .select-box select{    padding-right: 0;width: 100%;}
    .search-box-combo .submit-btn input[type="submit"]{    margin-top: 15px;padding: 10px 20px; background-color: #09378a;color: #fff;}
    .right-side .dropdown-item{min-width: auto;font-size: 16px;}
    .dashboard .filter-menu{margin-left: -280px;}
    .dashboard .dash-main{width: 100%;}
    .close-btn{display: block;}
    .dashboard .filter-menu.hide{margin-left: 0;}
    .close-btn.show{display: none;}
    .filter-menu .card-body ul li{width: 100%;}
    .f-icon  h5,.f-icon  i{display: none;}
    .testimonial-container .content:after{    right: -40px;}
    .testimonial-container .content:before{    left: -40px;}
    .p-100{padding: 50px 0px;}
    .sign-in ul{margin-bottom: 20px;}
    .faq-main .nav{    padding: 50px 0px 30px 0px;}
    .full-list-data li .f-single-main{flex-direction: column;align-items: flex-end !important;}
    .list-header ul li:first-child, .full-list-data .image{min-width: inherit;}
    .f-single-main{position: relative;}
    .dash-right .list-header{display: none;}
    .full-list-data .image-profile{margin-right: 10px;}
    .info-details{right: 0px;left: unset;}
    .activity-list li .image > div{ justify-content: flex-end !important;}
    .activity-list li .f-single-main > div{padding-bottom: 10px;border-bottom: 1px solid #b1b3b7; margin-bottom: 10px;    width: 100%;   text-align: right;}
    .activity-list li .f-single-main > div:last-child{border:0; margin-bottom: 0;padding-bottom: 0;}
    .full-list-data li .f-single-main div:before {content: attr(data-parent-name);position: absolute;left: 0;}

    .contact-info-wrap .col-md-6:first-child, .contact-info-wrap .col-md-6:nth-child(2) {margin-top: 30px;}
    .map-wrap {margin-top: 50px;}
    .contact-info-wrap {margin-top: 0;}
    .user-dashboard-main .state-category ul{flex-direction: column;}
    .user-dashboard-main .state-category ul li:not(:last-child){padding-right: 0px;padding-bottom: 30px;}
    .user-dashboard-main .state-category ul li:after{    width: 100%; height: 1px; bottom: 10px; top: unset; left: 0;}
    .terms-and-condition p{margin-bottom: 30px;}
    .news-serachbox .date{border-right: 0;}
    .news-serachbox .search-box-combo{width: 100%;}
    .news-serachbox .select-box{    padding: 10px 0px; width: 100%;}
    .news-serachbox .date{    border-bottom: 1px solid #D8D5D5;padding:7px 0;text-align: left;}
    .news-serachbox .search-box-combo .submit-btn input[type="submit"]{    margin-top: 15px;padding: 10px 20px; background-color: #09378a; color: #fff;}
    .video-img .play-btn {width: 60px;height: 60px;}
    .video-img .play-btn i {font-size: 18px;margin-left: 5px;}

    .user-login-menu .btn-icon-img img {width: 20px;}
    .user-login-menu .right-side .cart, .right-side .cart {width: 23px;margin-left: 5px;}
    .user-login-menu .search-main img, .search-main img {width: 19px;}
    .user-login-menu .s-box, .s-box {padding-right: 0;}
    /* .user-login main {margin-top: 118px;} */

    .f-35{font-size: 26px;}
    .news-detail-page blockquote{padding-left: 70px;margin-top: 30px;}
    .news-detail-page blockquote:after{width: 43px; height: 31px;left: 15px;}
    .news-detail-page blockquote:before{height: 40px; width: 40px;}
    .news-detail-page blockquote p{    line-height: 28px;    font-size: 20px;}
    .full-list .description .btn-grp {flex-direction: row;}
    
    .detail-info-tabs{display:block;width:100%;padding-bottom:5px}
    .detail-info-tabs li.nav-item{margin:0 16px 15px 0;display:inline-block}
    .detail-info-tabs li.nav-item .nav-link.active:after{display:none;height:2px}.font-40{font-size:28px!important}
    .section{padding:60px 0}
    #faculty .faculty-list .single-demand{width:48%}
    .review-list-wrap li .img-wrap{width:60px;height:60px;min-width:60px}
    .review-list-wrap li .review-info .user-review{display:block;margin-bottom:15px}
    .review-list-wrap li .review-info .user-review .user-name{margin-bottom:8px}
    .payment-successfull-wrap h1{font-size:32px}
    .activity-points-wrap p{font-size:14px}
    .full-list {padding: 25px 0 0;}

    .question-list li label.question-name:before{width:30px;height:30px;min-width:30px;font-size:13px}
    .cart-table .coupancode .input-group{width:100%}
    .search-box-combo.my-order-search-box{flex-direction:revert;align-items:center}
    .search-box-combo.my-order-search-box .search-box{padding:0;border-bottom:none}
    .search-box-combo.my-order-search-box .submit-btn input[type=submit]{margin-top:0;background:0 0;color:#005bff}

    .activity-list .recent-grid li .image > div, .activity-list .completed-grid li .image > div {
        justify-content: start !important;
    }
    .activity-list .completed-grid li .f-single-main > div {
        border-bottom: none;
        text-align: left;
        padding-bottom: 0;
    }
    .border-left-md-0 {
        border-left: 1px solid #dee2e6!important;
    }
    .border-right-md-0 {
        border-right: 1px solid #dee2e6!important;
    }

}
@media only screen and (max-width: 575px){
    .sign-details .dropdown-toggle{font-size: 0;}
    header{padding: 30.5px 0px;}
    .logo{width: 130px;    margin-left: 10px;}
    .sign-details .dropdown-toggle{margin-left: 0;}
    .sign-details .dropdown-toggle::after{margin-left: 0;}
    /* .right-side .search ,.right-side .cart {margin-left: 15px; } */
    .right-side i{font-size: 18px;}
    .event-details{    padding: 115px 30px 40px 30px;}
    .s-box.show{margin-left: -250px; width: 240px;}
    .testimonial-container{    padding: 35px 0px;}
    .testimonial-container .content p,.testimonial-container .swiper-slide span{font-size: 13px;}
    .full-list figure{    width: 120px; height: 120px;}
    .full-list .description{    width: calc(100% - 120px); }
    .sign-in .nav-link{    padding: 12px 20px; font-size: 13px;}
    .faq-main .nav{    padding: 30px 0px 0px 0px;}
    .tab-content.p-50{padding-top: 20px;}
    .faq-main .input-group{margin-bottom: 30px;}
    .single-topic {margin-top: 30px; }
    .activity-list li .image > div{flex-direction: column;align-items: flex-end !important;}
    .full-list-data li .f-single-main div:before{font-size: 12px;font-weight: bold;}
    .dash-right .subscription{flex-direction: column;}
    .hero-banner .slider-details{    padding: 75px 0px;}
    .user-dashboard-main .state-category table tbody tr td,.user-dashboard-main .state-category table th{    padding: 10px 10px;}
    .user-dashboard-main .dash-right .nav-pills .nav-link.active:before{content: none;}
    .user-dashboard-main .dash-right .nav-pills .nav-link{padding-bottom: 10px;}
    .news-details{    width: calc(100% - 36px);}
    .news-details{    padding: 20px 25px 50px 25px;}
    .news-details > div.d-flex{flex-direction: column;}
    ul.company-list li {width: 50%;}
    ul.company-list li:nth-child(1), ul.company-list li:nth-child(2) {border-bottom: 1px solid #ddd;}
    ul.company-list li:nth-child(2):after {display: none;}
    .committee-wrap .img-wrap {width: 85px;height: 85px;margin-left: 10px;}
    .committee-wrap {margin-left: 60px;padding-left: 60px;}
    .certificate-head {display: block !important;margin-bottom: 40px;}
    .certificate-head img {margin-bottom: 10px;}
    .certificate-footer {margin-bottom: 30px;}
    .full-list .description .btn-grp {flex-direction: column;}
    .bundle-price-wrap .radio-list .radio b {font-size: 28px;}
    
    #faculty .faculty-list .single-demand .top-img{height:250px}
    .review-list-wrap li .img-wrap{width:40px;min-width:40px;height:40px;margin-right:10px}
    .review-list-wrap li .img-wrap img{padding:2px}.review-list-wrap{padding:15px}
    .review-list-wrap li .review-info .user-review .user-name{display:block}
    .payment-successfull-wrap{padding:0}
    .pagination .page-link{font-size:14px;height:35px;width:35px}

    .cart-table .thumb-img{width:65px;height:65px;min-width:65px}
    .cart-table .badge-tag{margin-left:0!important;margin-top:3px;display:inline-block}
    .border-sm-right{border-right:none!important}
    .my-order-search-box .select-date,.search-box-combo.my-order-search-box .search-box{padding:10px 0 12px;border-bottom:1px solid #ddd}
    .my-order-search-box .submit-btn{background:#005bff;padding:6px 0;margin-top:10px;color:#fff}
    .my-order-search-box .submit-btn input{color:#fff!important}
    .search-box-combo.my-order-search-box{padding-bottom:13px!important}
    .activity-list .completed-grid li .image > div, .activity-list .recent-grid li .image > div {
        flex-direction: row;
    }
}
@media only screen and (max-width: 540px){
    #faculty .faculty-list .single-demand {width: 100%;}
    .faculty-list {padding: 0 15px;margin-left: 0;}
    #faculty .faculty-list .single-demand .top-img {height: 280px;}
    .question-list li label.question-name {align-items: self-start;}
    .question-list li label.question-name:before {
        margin-top: 4px;
    }
}
@media only screen and (max-width: 413px){
    .user-login-menu .h-wrap {display: block !important;}
    .user-login-menu {padding: 22px 0;}
    .user-login-menu .right-side {margin-top: 5px;}
    .user-login-menu .btn-icon-img img {width: 15px;}
    .user-login-menu .email-link img {width: 20px;}
}
@media only screen and (max-width: 380px){
    /* .right-side .search, .right-side .cart {margin-left: 10px; } */
    .s-box.show{margin-left: -210px; width: 200px;}
    .full-list li{padding: 30px 0px;}
    .full-list li > div{flex-direction: column;}
    .full-list .description{width: 100%;}
    .full-list .description{padding-left: 0;padding-top: 20px;}
    .committee-wrap {display: block;margin-left: 0;padding-left: 30px;}
    .committee-wrap .img-wrap {position: initial;margin: 0 0 25px 0;}
    .certificate-footer { margin-bottom: 30px;}
    .certificate-footer p {font-size: 12px;line-height: 18px;margin-top: 10px;}
    .description-video .border-btn {width: 100%;}
    .description-video .learn-more {margin-right: 0;}
    .description-video .border-btn {margin-top: 15px;}
    .full-list .description .btn-grp {flex-direction: row;}
    .side-faculty-wrap .img-wrap{width:100px;min-width:100px}
    .side-faculty-wrap .faculty-info h4{font-size:16px;padding-bottom:10px}
    .side-faculty-wrap .faculty-info span{font-size:14px}
    .video-detail-wrap .video-time-info li{padding:15px}
    .video-detail-wrap .video-time-info li span{position:relative;top:0;left:0;margin-bottom:8px;display:inline-block}
}
@media only screen and (max-width: 359px){
    /* .full-list .description .btn-grp {flex-direction: column;} */
    .full-list .description .btn-grp a {padding: 15px 12px !important;min-height: 54px;}
    .bundle-btns {display: block;}
    .bundle-btns .add-cart {margin-bottom: 15px;}
    .bundle-btns a {width: 100% !important; margin-right: 0 !important;}
    .side-faculty-wrap .faculty-info {margin: 0 12px;}
}