@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {font-family: 'Bodoni SvtyTwo ITC TT'; src: url('../fonts/BodoniSvtyTwoITCTTBook.eot'); src: url('../fonts/BodoniSvtyTwoITCTTBook.eot?#iefix') format('embedded-opentype'), url('../fonts/BodoniSvtyTwoITCTTBook.woff2') format('woff2'), url('../fonts/BodoniSvtyTwoITCTTBook.woff') format('woff'), url('../fonts/BodoniSvtyTwoITCTTBook.ttf') format('truetype'), url('../fonts/BodoniSvtyTwoITCTTBook.svg#BodoniSvtyTwoITCTTBook') format('svg'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face {font-family: 'TradeGothic LT'; src: url('../fonts/TradeGothicLT-Light.eot'); src: url('../fonts/TradeGothicLT-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicLT-Light.woff2') format('woff2'), url('../fonts/TradeGothicLT-Light.woff') format('woff'), url('../fonts/TradeGothicLT-Light.ttf') format('truetype'), url('../fonts/TradeGothicLT-Light.svg#TradeGothicLT-Light') format('svg'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face {font-family: 'TradeGothic LT'; src: url('../fonts/TradeGothicLT-Bold.eot'); src: url('../fonts/TradeGothicLT-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicLT-Bold.woff2') format('woff2'), url('../fonts/TradeGothicLT-Bold.woff') format('woff'), url('../fonts/TradeGothicLT-Bold.ttf') format('truetype'), url('../fonts/TradeGothicLT-Bold.svg#TradeGothicLT-Bold') format('svg'); font-weight: bold; font-style: normal; font-display: swap; }
@font-face {font-family: 'TradeGothic LT'; src: url('../fonts/TradeGothicLT.eot'); src: url('../fonts/TradeGothicLT.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicLT.woff2') format('woff2'), url('../fonts/TradeGothicLT.woff') format('woff'), url('../fonts/TradeGothicLT.ttf') format('truetype'), url('../fonts/TradeGothicLT.svg#TradeGothicLT') format('svg'); font-weight: normal; font-style: normal; font-display: swap; }


/* General CSS */
html { -webkit-tap-highlight-color: transparent; -webkit-font-smoothing: antialiased }
address, blockquote, div, dl, form, pre, table, dd, dt, ol, ul, li, tbody, td, tfoot, th, thead, tr, del, ins, map, object, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset, iframe, article, aside, details, figcaption, figure, hgroup, menu, nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="submit"] {cursor: pointer; }

img {max-width: 100%; }

.overflow-hidden {overflow: hidden; }

input {outline: none;}

input:focus {outline: none; color: #000000; }

.form-control:focus {background-color: #ffffff; border-color: #ced4da; outline: 0; box-shadow: none; }

select {outline: none; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; }

select:focus {outline: none; text-decoration: none; color: #000000; }

select::-ms-expand {display: none; }

textarea {resize: none; }

textarea:focus {outline: none; text-decoration: none; color: #000000; }

html {-webkit-font-smoothing: antialiased; margin: 0; padding: 0; border: none; list-style: none; }

body { outline: 0; font-style: normal; font-synthesis: none; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; line-height: normal; text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 400; color: #71757d; }
p{
    font-weight: 500;
    line-height: 1.7;
}
*:focus{outline: none !important;}
a{transition: all .8s ease-out;color: #005BFF;}
a:hover{text-decoration: none;    color: #0fada2;}

/* Colors CSS */
.bg-gray{background-color: #F2F2F2;}
.green{background-color: #0FADA2 !important;}
.blue{background-color: #1D68EE !important;}
.dark-blue{background-color: #09378A;}
.p-top-50{padding-top: 50px;}
.p-50{padding: 50px 0px;}
.p-100{padding: 100px 0px;}
.text-secondary {color: #0FADA2 !important;}
.font-semibold {font-weight: 600 !important;}
.font-medium {font-weight: 500 !important;}
.section {padding: 70px 0;}
.text-gray {color: #6E6E6E !important}
.font-40 {font-size: 40px !important;}

/* Typography CSS */
h1 ,.h1{font-family: 'Bodoni SvtyTwo ITC TT'; font-size: 50px;line-height: 1.2;margin-bottom: 7px;}
h2,.h2{font-family: 'Bodoni SvtyTwo ITC TT'; font-size: 30px;    line-height: 1.35;}
h3,.h3{font-family: 'Bodoni SvtyTwo ITC TT'; font-size: 27px;    line-height: 1.1;}
h4,.h4{font-family: 'Bodoni SvtyTwo ITC TT'; font-size: 22px;    line-height: 1.1;}
h5,.h5{font-family: 'TradeGothic LT';color: #6E6E6E;font-size: 16px;margin-bottom: 0;}
h6 , .h6{font-family: 'TradeGothic LT';font-size: 15px;}

span{font-family: 'TradeGothic LT';}

.f-18-head{color:#0fada2;font-size:18px;letter-spacing:-.5px;text-transform:uppercase;margin-bottom:12px;font-family:'TradeGothic LT'}
a.download-link{position:relative;padding-left:45px!important}
a.download-link:before{content:"";background:url(../images/pdf-icon.png);width:20px;height:27px;position:absolute;left:15px;background-repeat:no-repeat;top:23%}
.progress-bar.bg-success {background: #0FADA2 !important;}
.font-TradeGothic {font-family: 'TradeGothic LT' !important;}
.badge-tag {font-size: 11px;padding: 6px 16px;color: #fff;font-family: 'TradeGothic LT'; text-transform: uppercase;}
.badge-tag-primary {background-color: #09378A;}
.badge-tag-secondary {background-color: #0FADA2;}

.mx--8 {margin: 0 -8px !important;}
.mt--8 {margin-top: -8px !important;}
.font-18{font-size:18px!important}
.font-16{font-size:16px!important}

/* Button CSS */
.btn{display: inline-block;text-transform: uppercase; font-family: 'TradeGothic LT';transition: all .8s ease-out; font-size: 15px; background-color: #005BFF;color: #fff;    padding: 15px 28px;border-radius: 0;}
.btn:hover{background-color: #000;color: #fff;}
.btn-lg{font-size: 24px;padding: 8px 41px 8px 41px;}
.border-btn{display: flex;align-items: center;justify-content: center;min-width: 140px; text-transform: uppercase;border: 1px solid #0FADA2;transition: all .8s ease-out; padding: 17px 22px; border-radius: 0; color: #FFFFFF; font-family: 'TradeGothic LT'; font-size: 15px;}
.border-btn:hover{color: #fff;background-color: #0FADA2;}
.blue-btn{background-color: #09378A;}
@media screen and (min-width: 1200px) {
    .container{max-width: 1190px;}
}

/* Navbar toggler CSS for Responsive */
main {margin-top: 90px; }
.logo{width: 170px;margin-left: 38px;}
.logo img{width: 100%;}
.navbar-brand{margin: 0;padding: 0;}
header {background-color: #09378A;position: fixed; width: 100%; right: 0; z-index: 9999; top:0;    padding:26px 30px;}
.navbar-toggler {float: right; border: none; padding-right: 0; }
.navbar-toggler:focus {box-shadow: none; }
.navbar-toggler-icon {width: 26px; height: 18px; background-image: none !important; position: relative; border-bottom: 2px solid #fff; transition: all 300ms linear; margin-top: -3px; }
.navbar-toggler-icon:after, .navbar-toggler-icon:before{width: 26px; position: absolute; height: 2px; background-color: #fff; top: 0; left: 0; content: ''; z-index: 2; transition: all 300ms linear; }
.navbar-toggler-icon:after{top: 8px; }
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {transform: rotate(45deg); }
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {transform: translateY(8px) rotate(-45deg); }
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {border-color: transparent; }
.navbar-nav .nav-link {font-size: 18px; display: flex; justify-content: space-between; align-items: center; }
.nav-item.dropdown .dropdown-menu li.navBack {display: none; }
.nav-item.dropdown .dropdown-menu li.navBack span{display: flex;align-items: center;}
.nav-item.dropdown .dropdown-menu li.navBack span i{display: block;color: #0FADA2;margin-right: 10px;}
header .navbar  .collapsing {height: 100vh  !important; }
.navbar-collapse {height: calc(100vh - 90px);padding: 0px 20px; overflow: hidden; overflow-y: auto; position: fixed; width: 300px; left: 0; top: 90px; background: #09378A; right: auto; transition: 0.5s all; -webkit-transform: translateX(-100%); transform: translateX(-100%); z-index: 1; }
.navbar-collapse.show {-webkit-transform: translateX(0%); transform: translateX(0%); }
.navbar-light .navbar-nav .nav-link{padding: 20px 0px;color: #fff; transition: 0.4s; border-bottom: 1px solid #005BFF;text-transform: uppercase;    font-family: 'TradeGothic LT';font-size: 20px;font-weight: 300;}
.navbar-light .navbar-nav .nav-link.active{color: #000;background-color: #fff}
.navbar-light .navbar-nav .nav-link:hover,.nav-item.dropdown .dropdown-menu li a.dropdown-item:hover {  color: #0fada2;background-color: transparent;}
nav .dropdown-toggle::after{    font-family: 'Font Awesome 5 Free'; font-weight: 900; border: 0; content: "\f105";}
nav li ul.dropdown-menu{display: block;}
.nav-item.dropdown .dropdown-menu { position: fixed; left: -100%; top: 0; background: #09378a; height: calc(100vh - 90px); width: 100%; transition: 0.5s all; border: none; margin: 0; padding: 0; }
.nav-item.dropdown .dropdown-menu.show {left: 0px; }
.nav-item.dropdown .dropdown-menu li{margin: 0px 20px;}
.nav-item.dropdown {position: static; }
.nav-item.dropdown .dropdown-menu li.navBack {font-size: 28px; padding: 20px 15px; display: block; cursor: pointer;color: #fff;}
.nav-item.dropdown .dropdown-menu li a.dropdown-item {font-size: 20px;    white-space: pre-wrap; padding: 20px 0px;color: #fff;border-bottom: 1px solid #005BFF; }
.desktop-menu li a{font-family: 'TradeGothic LT';transition: 0.8s; padding: 4px 4px;display:flex;align-items: center;height: 100%; font-size: 13px;color: #fff;text-transform:uppercase;text-align: center;}
.desktop-menu li a:hover{background-color: #005BFF;}
.desktop-menu li{margin-right: 28px;text-align: center;margin:0px 10px;}
.desktop-menu li:last-child{margin-right: 0;}
.sign-details .dropdown-toggle::after{font-family: 'Font Awesome 5 Free'; font-weight: 900; border: 0; content: "\f107"; transition: 0.2s;    margin-left: 10px; font-size: 24px;}
.dropdown-toggle:focus{outline: none;box-shadow: none;}
.sign-details .dropdown-toggle{margin-left: 50px;border: 0;background-color: transparent; font-family: 'TradeGothic LT';font-size: 13px;}
.sign-details .dropdown.show .dropdown-toggle::after{transform: rotate(-180deg);}
.right-side .search{margin-left: 66px;position: relative;}
.right-side .cart{margin-left: 20px;width: 36px;}
.right-side i{font-size: 24px;color: #fff;}
.desktop-menu{margin-left: 55px;}
.sign-details figure{border-radius: 100%;overflow: hidden; width: 29px;height: 29px;}
.sign-details figure img{width: 100%;height: 100%;object-fit: cover;}
.sign-details .dropdown-item:hover{background-color: #09378A;color: #fff;}
.desktop-menu li.active a{color: #fff;background-color: #005BFF;}
.search-main{display: inline-block;cursor: pointer;min-width: 27px; width: 27px;}
.search-icon.hide{display: none;}
.close-icon{display: none;}
.close-icon.show{display: block;}
.s-box{position: absolute; color: #000; background-color: #fff; width: 0; top: 30px; border: 0; border-radius: 10px; opacity: 0; padding: 10px 20px; visibility: hidden; transition: 0.5s;box-shadow: 0px 2px 4px rgba(0,0,0,0.1);font-size: 14px;height: 45px;z-index: 9999;right: 0; }
.s-box.show {
  /* margin-left:-310px; */
  width: 300px; visibility: visible; opacity: 1;}
.right-side .dropdown-menu{background: #09378A; padding: 0px 20px;}
.right-side .dropdown-item ,.sign-in-popup .feature-online a{   min-width: 200px; padding: 20px 0px; color: #fff; transition: 0.4s; border-bottom: 1px solid #005BFF; text-transform: uppercase; font-family: 'TradeGothic LT'; font-size: 20px; font-weight: 300; display: flex; justify-content: space-between; align-items: center; }
.right-side  .dropdown-item::after {font-family: 'Font Awesome 5 Free';  color: #0fada2;font-weight: 900; border: 0; content: "\f105"; display: inline-block; margin-left: .255em; vertical-align: .255em; }
.right-side li:last-child .dropdown-item{border:0;}
.right-side .dropdown-item:hover{    color: #0fada2;}
/*nav menu css end*/

/*sign-in popup start*/
.sign-in-popup{position: fixed !important; top: 88px !important; left: 0 !important;overflow: auto; width: 100%; transform: none !important; height: calc(100% - 88px); border: 0; background-color: #09378A !important; border-radius: 0; transition:0.4s;}
.right-side .sign-in-popup .dropdown-item:last-child{border-bottom:1px solid #005BFF; }
.sign-in-popup .sign-left h3{border-bottom:1px solid #005BFF; margin-bottom: 0; padding-bottom: 10px; }
.right-side .sign-in-popup .dropdown-item{padding: 9px 0px; }
.sign-in-popup .feature-online a {flex-wrap: wrap;position: relative;padding-left: 30px;font-family: 'Montserrat', sans-serif;font-size: 18px; text-transform: unset;}
.sign-in-popup .feature-online a:before{    content: "\f0da"; position: absolute;z-index: 1; left: 7px;top: 24px; color:#0FADA2; font-family: 'Font Awesome 5 Free'; font-weight: 900;-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1;}
.sign-in-popup .feature-online a:after{content: "";position: absolute;left: 0;top: 25px;  height: 18px;width: 18px;border-radius: 100%; background-color: #fff;}
.sign-right .btn{border:1px solid #0FADA2;}
.sign-right .btn:hover{border-color: #000;}
.sign-right p{color:#fff;}
.sign-in-popup .sign-menu-main{position: relative;padding: 80px  0px;}
.close-menu{position: absolute;right: 0;top: 0; border:3px solid #231F20;background-color: #fff;cursor: pointer; height: 25px;width: 25px;display: flex;align-items: center;justify-content: center;}
.close-menu i{color:#231F20; }
.sign-right .close-menu{position: fixed;right: 0;}
.sign-right{padding-left: 85px;position: relative;height: 100%;display: flex;flex-direction: column;justify-content: center;}
.sign-right:before{content: "";position: absolute;left: 30px;top: 0; width: 1px;height: 100%; background-color: #005BFF;}
/*sign-in popup end*/

/*hero slider css start*/
.hero-banner{position: relative;}
.hero-banner h1 , .hero-banner .h1{font-style: italic;}
.hero-banner .slider-details span{display: block;font-size: 25px;font-family: 'TradeGothic LT';font-weight: 300;color: #fff;margin-bottom: 10px;}
.hero-banner .slider-details{  position: relative;padding: 115px 0px;min-height: 460px; background-size: cover;background-position: center; background-repeat: repeat;  display: flex;flex-direction: column;align-items: center;justify-content: flex-end;transition: all .5s ease-in-out;}
.hero-banner.home-page-slider .slider-details{ height: calc(100vh - 90px);justify-content: center;}
.hero-banner .swiper-slide-active .slider-details{ -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; position: relative; -webkit-animation: zoomin 15s ease-in; animation: zoomin 15s ease-in;  overflow: hidden; }
.hero-banner .swiper-slide-active .move-left {animation-name: move-left; animation-duration: 3s; }
.hero-banner .swiper-slide-active .move-right {animation-name: move-right; animation-duration: 3s; }
@keyframes move-left {0% {opacity: 0; transform: translateX(-100px); } 80% {transform: translateX(10px); } 100% {opacity: 1; transform: translate(0); } }
@keyframes move-right {0% {opacity: 0; transform: translateX(100px); } 80% {transform: translateX(-10px); } 100% {opacity: 1; transform: translate(0); } }
/* The innermost element*/
.hero-banner .swiper-slide-active .zoomout {background: none; -webkit-animation: zoomout 15s ease-in; animation: zoomout 15s ease-in; transition: all .5s ease-in-out; overflow: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
/* Zoom in Keyframes */
@-webkit-keyframes zoomin {0% {transform: scale(1);} 100% {transform: scale(1.5);} }
@keyframes zoomin {0% {transform: scale(1);} 100% {transform: scale(1.5);} } /*End of Zoom in Keyframes */
/* Zoom out Keyframes */
@-webkit-keyframes zoomout {0% {transform: scale(1);} 100% {transform: scale(0.67);} }
@keyframes zoomout {0% {transform: scale(1);} 100% {transform: scale(0.67);} }

.slider-details p{color: #fff;text-transform: capitalize;font-size: 15px;font-family: 'TradeGothic LT';}
.swiper-pagination-bullet{background-color: #0FADA2;opacity: 1;height: 13px;width: 13px;margin: 0px 15px;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:  #fff;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0px 10px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 30px;}
.swiper-button-next, .swiper-button-prev{z-index: 9;}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{font-size: 0;}
.hero-banner.mix-bland-color .slider-details{background-blend-mode: multiply;}
/*hero slider css end*/

/*video section start*/
.video-section{background-color: #09378A;min-height: 300px;}
.video-wrap{background-color: #000; width: 40%;}
.play-btn{width: 67px; height: 67px;cursor: pointer; border-radius: 100%; background-color: #fff; transition: 0.4s; }
.play-btn i{font-size: 29px;color: #1C6DFF;}
.play-btn:hover{transform: scale(1.1);}
.description-video{width: 60%; padding: 40px 0px 26px 60px; display: flex;justify-content: center; flex-direction: column;}
.description-video .border-btn{margin-top: 30px;}
.description-video{max-width: 610px;}
.border-btn .arrow{min-width: 22px;height: 22px;background-color: #0FADA2; transition: 0.8s;   margin: 0 0px 0px 17px; border-radius: 100%;}
.description-video .learn-more{margin-right: 30px;}
.border-btn .arrow i{color: #09378A;font-size: 16px;transition: 0.8s;}
.border-btn:hover .arrow{background-color:  #09378A;}
.border-btn:hover .arrow i{color: #0FADA2;}
/*video section end*/

/*topics header*/
.learn-topic{padding: 40px 0px 75px 0px;}
.learn-topic .swiper-slide{text-align: center;}
.learn-container {position: relative;padding: 0px 100px;}
.learn-topic figure{margin-bottom: 15px;}
.learn-container:after, .learn-container:before {content: ''; position: absolute; left: 0; top: 0; bottom: 0; width: 100px; background: #f2f2f2; z-index: 2; }
.learn-container:after {left: auto; right: 0; }
.line{position: relative; text-align: center;margin-bottom: 60px;}
.line:after{content: "";background-color: #D8D5D5;height: 1px;width: 100%; position: absolute;left: 0; top: 50%;transform: translateY(-50%);}
.line h2{display: inline-block;background-color: #F2F2F2;position: relative;z-index: 1;}
/*topics header end*/

/*file start*/
.f-34{font-size: 34px;}
.file-main > div > *{position: relative;z-index: 1;}
.file-main h2{text-align: center;}
.file-main img{position: absolute;left: 0;top: 0;mix-blend-mode: multiply; width: 100%;height: 100%;object-fit: cover;}
.file-main > div{width: 50%; overflow: hidden; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 121px 35px 45px 35px; position: relative;}
.file-main > div img{    transition: all .8s ease-out;}
.file-main > div:hover img{transition: all 1.5s ease-out; -webkit-transform: scale(1.125,1.125); transform: scale(1.125,1.125);}
.file-main .border-btn{margin-top: 10px; }
.file-main span{  text-align: center;    line-height: 1.35;  font-family: 'TradeGothic LT';font-size: 15px;}
.green-left{background-color: #0FADA2;}
.blue-right{background-color: #1D68EE;}
/*file end*/

/*event css start*/
.top-details{position: absolute;left: 18px;top: 20px;}
.event .swiper-slide{height: auto;}
.event-details{padding: 115px 60px 40px 60px;position: relative;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: center;}
.event-details:before{content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0 , 0, 0,0.2);}
.event{color: #6E6E6E;padding: 75px 0px 50px 0px;}
.event .swiper-pagination{position: static;}
.event-details .main-content{position: relative;z-index: 9;}
.event .event-details span{font-size: 14px;text-transform: uppercase;display: inline-block;margin-bottom: 10px;}
.event .swiper-container-horizontal>.swiper-pagination-bullets,.event .swiper-pagination-custom, .swiper-pagination-fraction{position: static;}
.gray-bullet .swiper-pagination-bullet{ background:#6E6E6E;opacity: 0.26;}
.gray-bullet .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity: 1; background: #005BFF;}
.event .swiper-notification{display: none;}
/*event css end*/

/*on-demand*/
.bg-img{background-repeat: no-repeat !important;background-size: cover !important;background-position: center !important;}
.single-demand{overflow: hidden; border-bottom: 10px solid #0FADA2;position: relative;}
.single-demand  .top-img{width:100%;height:260px;}
.single-demand  .top-img img{width:100%;height:100%;}
.single-demand .bottom-text {padding: 20px 35px 8px 35px;    transition: all .6s ease-out; background-color: #005BFF;width: 100%;}
.single-demand a.read-more{font-family: 'TradeGothic LT';font-size: 13px;color: #fff;}
.single-demand .hover-text{padding: 20px 30px;  position: absolute;top:0; bottom: 0;left: 0;width: 100%;background-color: #09378A;    transform: translate3d(0px, 103% , 0px);    transition: all .6s ease-out;}
.single-demand:hover .bottom-text{opacity: 0;}
.single-demand:hover .hover-text{transform: translate3d(0 , 0 , 0);}
.single-demand .hover-text > p,.single-demand .hover-text > span{color: #fff; font-size: 13px;line-height: 15px; }
.single-demand .hover-text a.read-more{display: inline-block;margin: 10px 0px 15px 0px;}
.demand-list .row > div{margin-bottom: 30px;}
.single-demand .hover-text a.read-more:hover{color:#0fada2;}
.single-demand .border-btn {display: inline-block;}
/*on-demand end*/

/*subscribe css start*/
.subscribe{padding: 42px 0px 13px 0px;}
.subscribe-box input[type="text"]{color: #999999; max-width: 334px;width: 100%;   font-family: 'TradeGothic LT'; border:1px solid #E0E6ED;font-size: 20px; margin-right: 33px;   padding: 13px 33px 13px 16px;}
.subscribe span{max-width: 930px;font-weight: 500; margin:26px auto 0 auto; font-size: 12px;color: #6E6E6E;display: inline-block;}
.subscribe span a{color: #6E6E6E;}
/*subscribe css end*/

/*footer start*/
footer{border-bottom: 15px solid #005BFF;padding-top: 60px;}
footer .tel-no{color: #fff;display: inline-block;margin-top: 16px;font-size: 15px;}
footer address{font-size: 15px;font-weight: 500;}
footer span.follow{color: #0FADA2;text-transform: uppercase;margin-top: 35px;}
footer ul li{margin-bottom: 12px;}
footer ul li a{color: #FFFFFF77;font-size: 15px;}
footer ul li a:hover,footer ul li.active a{color: #ffffff;}
footer  .social-icon a{margin-right: 18px;display: inline-block;}
footer  .social-icon {margin-top: 10px;}
footer  .social-icon a img{transition: 0.4s;}
footer  .social-icon a:hover img{filter: invert(1);}
footer  .copy-right{text-align: center; margin-top: 115px;color: #FFFFFF52;margin-bottom: 10px; font-size: 12px;}
footer  .copy-right a{color: #FFFFFF52;}
footer  .copy-right a:hover{color: #fff;}
/*footer end*/
 

/*anesthesiafile on demand*/
.anesthesiafile .top-img{ width:100%;height:140px;}
.video-image{height:100%; min-height:253px;}
.video-image img{height:100%;width:100%;object-fit:cover;}
.anesthesiafile .top-img img{width:100%;height:100%;object-fit: cover;}
.anesthesiafile .video .play-btn{background-color: #09378A;position: absolute;top:50%;left:50%;transform:translate(-50% , -50%); }
.anesthesiafile .video .play-btn i{color: #fff;}
.anesthesiafile .video{border: 0;height:100%;}
.anesthesiafile .search-all a{font-size: 24px; text-decoration: underline;font-family: 'TradeGothic LT';}
.anesthesiafile hr{max-width: 960px;margin:33px auto; border-color: #979797;}
.image-main .image{overflow: hidden;}
.image-main .image img{height: 100%;width: 100%;object-fit: cover;transition: all .8s ease-out;}
.image-main:hover img{    transition: all 1.5s ease-out; -webkit-transform: scale(1.125,1.125); transform: scale(1.125,1.125);}
/*anesthesiafile on demand end*/

/*price list start*/
.price-list .single-price-list{transition: 0.4s; padding: 27px 20px 37px 20px;min-height: 490px;margin-bottom: 50px;}
.price-list .single-price-list h4{color: #fff;    font-family: 'TradeGothic LT';margin-bottom: 28px;}
.price-list .single-price-list h2{color: #fff;font-size: 45px;}
.price-list .single-price-list ul li{ font-family: 'TradeGothic LT'; color: #fff;margin-bottom: 10px;font-size: 17px;}
.single-price-list .sample{display: inline-block;text-decoration: underline;margin:10px 0px  40px 0px;color: #fff;    font-family: 'TradeGothic LT';text-transform: uppercase;font-size: 16px;}
.single-price-list .sample:hover{color: #0FADA2;}
.price-list .single-price-list.premium h4{margin-bottom: 60px;}
/*price list end*/

/*testimonial slider css*/
.testimonial-container{max-width: 1020px;margin: auto;position: relative;padding: 55px 0px;}
.testimonial-container .swiper-slide{padding:0px 150px; margin: auto;text-align: center;color: #fff;}
.testimonial-container  .content{position: relative;}
.testimonial-container  .content:before, .testimonial-container  .content:after{content: ""; position: absolute; height: 50px; width: 50px; background-image: url(../images/quote-left.svg); background-size: 100% 100%; background-repeat: no-repeat;}
.testimonial-container  .content:before{left: -90px; top: 45px; }
.testimonial-container  .content:after{right: -90px; bottom: 30px; transform: rotate(-180deg); }
.testimonial-container h2{font-style: italic;margin-bottom: 20px;}
.testimonial-container .swiper-button-next,.testimonial-container .swiper-container-rtl .swiper-button-prev{right: 0;}
.testimonial-container .swiper-button-prev,.testimonial-container .swiper-container-rtl .swiper-button-next{left: 0;}
.testimonial-container p {font-weight: 400;font-size: 14px;line-height: 19px;}
/*testimonial slider css end*/

/*stock view css start*/
.search-box-combo{background-color: #fff;max-width: 800px;margin: auto; padding: 19px 22px; display: flex; align-items: center;}
.search-box-combo .search-box i{font-size: 26px;color:#0FADA2; }
.search-box-combo .search-box .search-bx{width: 310px;margin-left: 25px;font-size: 13px;    font-family: 'TradeGothic LT'; color: #6E6E6E;border:0; border-right: 1px solid #D8D5D5;}
.select-box{width: 300px;padding:0px 35px;border-right: 1px solid #D8D5D5;}
.select-box select{font-size: 13px; padding-right: 35px;   font-family: 'TradeGothic LT';color: #6E6E6E;
   /* background: url("../images/arrow.png") white no-repeat 98.5% */
  }
.select-box:after {
  content: "\f078";
  position: absolute;
  right: 18px;
  top: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
  color: #dedcdc;
}
.select-box {
  position: relative;
}
.search-box-combo .submit-btn input[type="submit"]{ font-family: 'TradeGothic LT';    text-transform: uppercase; background-color: #fff; border: 0;    padding: 0px 14px 0px 31px;color: #005BFF;font-size: 13px;}
.stock-view .slider-details{min-height: auto;padding: 50px 0px 70px 0px}
.stock-view-list .bottom-text h4{margin-top: .5rem}
.dashboard .filter-menu{width: 280px;background-color: #F2F2F2;border-right: 2px solid #D8D5D5;}
.dashboard .dash-main{width: calc(100% - 280px);transition: 0.4s;}
.dash-main.active{width: 100%;}
/*.dashboard .tab-content{max-width: 800px;}*/
.close-btn{display: none;cursor: pointer;}
.f-icon span{cursor: pointer;}
.close-btn.show{display: inline-block;}
.filter-menu{transition: 0.4s;}
.filter-menu.hide{margin-left: -280px;}
.dash-main .nav-pills{background: #09378A;padding: 22px 0px;}
.dash-main .nav-pills .nav-link{ font-family: 'TradeGothic LT';border-radius: 0; font-size: 18px;text-transform: uppercase;padding: 10px 27px;color: #fff;font-weight: 300; margin-left: 30px;}
.on-demand.stock-view-list .single-demand .bottom-text{padding: 5px 20px;}
.on-demand.stock-view-list .small-img{height: 107px;}
.on-demand.stock-view-list .small-img img{width:100%; height: 100%; object-fit:cover;}
.on-demand.stock-view-list .single-demand:hover .bottom-text{opacity: 1;}
.on-demand.stock-view-list .single-demand h4{font-size: 17px;}
.dash-wrap{position: relative;}
.dash-wrap .filter span{padding:10px; background-color: #fff;position: absolute;left: 0;top: -40px;}
.filter-menu{padding: 35px 20px;}
.filter-title{margin-bottom: 30px;}
.filter-title i{font-size: 26px;}
.filter-menu .alert {font-size: 11px; padding: 4px 10px 4px 22px; }
.filter-menu .close{left: 5px; top: 3px; right: inherit; padding: 0; font-size: 15px;}
.applied-filter > span{font-size: 13px;    font-family: 'TradeGothic LT';}
.green-radio input[type="radio"]:checked,.green-radio  input[type="radio"]:not(:checked) {position: absolute; left: -9999px; }
.green-radio input[type="radio"]:checked + label,
.green-radio input[type="radio"]:not(:checked) + label {position: relative; padding-left: 28px; cursor: pointer; display: inline-block; font-size: 13px; font-family: 'TradeGothic LT';}
.green-radio input[type="radio"]:checked + label:before,
.green-radio input[type="radio"]:not(:checked) + label:before {content: ''; position: absolute; left: 0; top: 0; width: 17px; height: 17px; border: 1px solid #6E6E6E; border-radius: 100%; background: #fff; }
.green-radio input[type="radio"]:checked + label:after,
.green-radio input[type="radio"]:not(:checked) + label:after {content: ''; width: 15px; height: 15px; background: #0FADA2; position: absolute; top: 1px; left: 1px; border-radius: 100%; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.green-radio input[type="radio"]:not(:checked) + label:after {opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
.green-radio input[type="radio"]:checked + label:after {opacity: 1; -webkit-transform: scale(1); transform: scale(1); }

.filter-menu .card-header .btn::after { content: "+"; position: absolute;top: 50%;right: 10px; transform: translateY(-50%);   font-size: 22px; font-weight: 600; }
.filter-menu .card-header .btn[aria-expanded="true"]:after{content: "-"; font-size: 45px; font-weight: 500;margin-top: -5px;}
.filter-menu .accordion>.card>.card-header{padding: 0;border: 0;border-radius: 0;background-color: transparent;}
.filter-menu .card-header .btn{position: relative; text-decoration: none; color: #6E6E6E;    padding: 10px 20px 10px 0px;width: 100%;text-align: left; background: transparent;box-shadow: none;}
.filter-menu  .card{border:0;background: transparent;}
.filter-menu .card-body{padding: 0;}
.filter-menu .card h2{font-size: 0;}
.filter-menu  .card-body ul{display: flex;flex-wrap: wrap;padding-bottom: 30px;}
.filter-menu  .card-body ul li{width: 50%;}
.full-list figure{width: 190px;height: 190px;}
.full-list figure img{width: 100%;height: 100%;object-fit: cover;}
.full-list .description{width: calc(100% - 190px);padding-left: 50px;}
.full-list .sub-details p,.full-list .sub-details span{max-width: 305px;font-size: 13px;}
.full-list .sub-details div{margin-left: 50px;}
.full-list .description .btn span{font-size: 9px; margin-top: -4px; text-transform: uppercase;}
.full-list .description .btn{padding: 10px 28px;margin-right: 17px;}
.border-btn.gray-btn{color: #005BFF;background-color: #E0E6ED;}
.border-btn.gray-btn:hover{background-color: #000;color: #fff;}
.full-list .description h4{font-weight: bold;}
.full-list figure{position: relative;}
.dashboard{border-bottom: 1px solid #D8D5D5;}
.full-list{padding: 45px 25px 0 25px;}
.full-list li{padding: 60px 0px 35px 0px;border-top: 1px solid #D8D5D5;}
.full-list li:first-child{padding-top: 0;border-top: none;}
.full-list .tag{    position: absolute; bottom: 100%; left: 0; background-color: #0FADA2; font-size: 11px; padding: 6px 16px; color: #fff; font-family: 'TradeGothic LT';}
.stock-view-list .search-all a{text-decoration: underline;}
.full-list .description  .btn.add-cart{padding: 15px 22px;text-transform: uppercase;}
.full-list .description .d-flex.sub {justify-content: space-between;}
.full-list .tag.blue-tag {background-color: #005BFF;}
/*stock view css end*/

/*painfile lp start*/
.create-account .icon h2{font-family: 'TradeGothic LT';margin-top: 10px;}
.create-account  h4{ font-size: 23px;margin-bottom: 30px; font-weight: bold;  font-family: 'TradeGothic LT';}
.create-account  .icon-left{max-width: 70%;margin: auto;}
.create-account  .icon-left h4{font-family: 'TradeGothic LT';font-weight: 500;margin-top: 10px;}
.white-form input[type="text"],.white-form input[type="email"],.white-form input[type="password"]{width: 100%;margin-bottom: 13px;border: 1px solid #D8D8D8;padding: 14px 16px;border-radius: 0;font-size: 20px;    font-family: 'TradeGothic LT';}
.white-form .btn{font-size: 20px;padding: 11px 28px;margin: 10px 0px;}
.white-form  .radio-btn{ font-family: 'TradeGothic LT';font-size: 14px;}
.white-form  a{text-decoration: underline;}
.white-form  a ,.white-form span{font-family: 'TradeGothic LT';font-size: 14px;}
label.is-invalid, .is-invalid {
  font-size: 16px;
  margin-bottom: 0;
  color: red;
  display: block;
  margin-top: 8px;
  font-family: 'TradeGothic LT';
}
/*painfile lp end*/

/*sign in page css*/
.white-form .sign-in-form  input[type="email"], .white-form .sign-in-form  input[type="password"]{width: 100%;display: block; max-width: 265px;}
.white-form .sign-in-form  .btn{width: 100%;max-width: 200px;}
.sign-in-form{font-size: 35px;}
.f-26{font-size: 26px;font-weight: bold;font-family: 'TradeGothic LT';}
.f-24{font-size: 24px;font-weight: bold;font-family: 'TradeGothic LT';}
.f-20{font-size: 20px;font-family: 'TradeGothic LT';line-height: 24px;margin-bottom: 0;}
.sign-in .nav {border-bottom: 1px solid #D8D5D5;}
.sign-in .nav-pills .nav-link.active{background-color: #09378a;border-radius: 0;text-decoration: underline;border-color: #09378a;}
.sign-in .nav-link{ border-radius: 0;     font-family: 'TradeGothic LT';  padding: 12px 40px;color: #000;border-top:1px solid #D8D5D5;border-left:1px solid #D8D5D5;border-right:1px solid #D8D5D5;}
.sign-in ul{margin-bottom: 50px;}
.account-right a{text-decoration: none;}
.account-right p{font-family: 'TradeGothic LT';font-size: 14px;}
/*sign in page css end*/

/*faq css start*/
.faq-main .input-group{max-width: 360px;}
.faq-main .input-group .form-control{border-left: 0;padding-left: 0;font-size: 20px;font-family: 'TradeGothic LT';text-transform: uppercase;}
.faq-main .input-group .form-control ,.faq-main .input-group .input-group-text{height: 54px; background-color: #fff; border-radius: 0;}
.faq-main .input-group i{font-size: 38px;color: #09378A;    font-size: 30px; color: #09378A;}
.faq-main .nav-pills .nav-link,.user-dashboard-main .nav-pills .nav-link{padding: 10px 40px 10px 0px;font-size: 15px;}
.faq-main .nav-pills .nav-link i{margin-right: 10px;}
.faq-main .nav-pills .nav-link.active,.user-dashboard-main .nav-pills .nav-link.active{color: #0FADA2; background-color: #fff;}
.user-dashboard-main .dash-right  .nav-pills .nav-link.active:before{content: ""; position: absolute; left: 0; right: 0; width: calc(100% - 22px); bottom: -20px; height: 4px; background-color: #08C7B9; }
.faq-main .nav{padding: 120px 0px 30px 0px;}
.breadcrumb-item+.breadcrumb-item::before{content: ">";}
.breadcrumb{padding: 0;background-color: transparent;}
.breadcrumb-item{    font-size: 13px; font-family: 'TradeGothic LT';text-transform: uppercase;}
ul.round{margin-bottom: 35px;}
ul.round li {font-size: 18px; font-family: 'Montserrat', sans-serif;font-weight: 500;list-style: none; position: relative; padding: 0 0 0 10px; margin-top: 10px; }
ul.round li::before {content: ""; position: absolute; left: 0; top: 10px; width: 3px; height: 3px; background-color: #005BFF; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
ul.round a{text-decoration: underline;   }
.single-topic{margin-top: 60px;}
.faq-main .container-fluid{max-width: 1920px;margin: auto;}
.faq-main .form-control:focus{border-color: #ced4da;}
.faq-main .input-group{margin-bottom: 65px;}
.breadcrumb-item+.breadcrumb-item::before{color: #6E6E6E;}
.faq-answer p{font-size: 18px;margin-bottom: 40px;}
.faq-answer ul.round li::before {background-color:#6E6E6E; }
.f-trade{ font-family: 'TradeGothic LT';}
.faq-answer .back{font-size: 15px;    font-weight: bold;     color: #71757d;font-family: 'TradeGothic LT';}
.faq-answer .back i{margin-right: 10px; font-size: 20px;color:#0FADA2;}
/*faq css end*/

/*user dashboard css*/
.user-dashboard-main .container-fluid, .dashboard {max-width: 1920px;}
.dashboard {margin: 0 auto;}
.user-dashboard-main .dash-title{cursor: pointer; padding-top: 40px;border-bottom: 1px solid #D8D5D5;}
.user-dashboard-main .dash-title h5{font-weight: bold; color:#6E6E6E;font-size: 18px;padding-bottom: 15px;}
.user-dashboard-main .nav-pills .nav-link{display: block;width: 100%; border-radius: 0; padding: 18px 0px;   font-family: 'TradeGothic LT';font-size: 13px;}
.user-dashboard-main .nav-pills .nav-link:not(:last-child){    border-bottom: 1px solid #D8D5D5;}
.user-dashboard-main h1, .user-dashboard-main h2{font-size: 35px;}
.user-dashboard-main .dash-right .nav-pills .nav-link{font-family: 'TradeGothic LT';color:#005BFF;font-size: 14px;}
.user-dashboard-main .dash-right .nav-pills .nav-link:after{content: "|";margin-left: 10px;margin-right: 10px;color:#D8D5D5;}
.user-dashboard-main .dash-right .nav-item:last-child .nav-link::after{color: transparent;}
.user-dashboard-main .dash-right .nav-pills .nav-link{padding-bottom: 0;padding-top: 0;}
.user-dashboard-main .nav-pills .nav-link.active{    color: #0FADA2;position: relative;}
.user-dashboard-main  .top-title{padding-bottom: 20px;margin-bottom: 25px;    border-bottom: 1px solid #D8D5D5;}
.user-dashboard-main  .top-title span{font-size: 14px;font-family: 'TradeGothic LT';}
.user-dashboard-main .dash-right  h4{font-family: 'TradeGothic LT';font-size: 20px; padding-bottom: 15px;}
.user-dashboard-main  .state-category h4{padding-bottom: 0;margin-bottom: 5px;}
.user-dashboard-main  .state-category ul li{position: relative; }
.user-dashboard-main  .state-category ul li:not(:last-child){padding-right: 80px; }
.user-dashboard-main  .state-category ul li:after{content: ""; position: absolute; top: 0; right: 40px; width: 1px; background-color: #D8D5D5; height: 100%; }
.user-dashboard-main  .state-category ul li:last-child:after{content: none; }
.user-dashboard-main  .state-category li span{font-size: 15px; color: #6E6E6E; }
.user-dashboard-main  .state-category table th{ padding: 13px 19px;font-weight: 600;   font-family: 'TradeGothic LT';background-color: #E0E6ED;text-transform: uppercase;font-size: 18px;}
.user-dashboard-main  .state-category{color: #09378A;}
.user-dashboard-main  .state-category table{margin-top: 35px;}
.user-dashboard-main  .state-category table tbody tr td{color: #6E6E6E;font-size: 14px;padding: 10px 19px; font-family: 'TradeGothic LT';}
.subscription-plan span{display: block;}
.lite{font-weight: 300;}
.bold{font-weight: bold;}
.boder-btm{border-bottom: 1px solid #D8D5D5;}
.total-earned h2{font-size: 40px;color: #0FADA2;}
.user-details span{margin-bottom: 5px;}
.dash-right .subscription{margin-bottom: 40px; }
.dash-right .accordion .btn-link::after {content: "+";color:#005BFF; position: absolute; top: 50%; right: 10px; transform: translateY(-50%); font-size: 22px; font-weight: 600; }
.dash-right .accordion>.card>.card-header{padding: 0; background: transparent; border: 0; }
.dash-right .accordion .btn-link{font-family: 'TradeGothic LT'; color:#6E6E6E; width: 100%; border:0; border-top: 1px solid #D8D5D5; border-bottom: 1px solid #D8D5D5; position: relative; text-align: left; font-size: 14px; background-color: transparent; padding: 22px 30px 22px 0; font-weight: bold; }
.dash-right .accordion .btn-link:hover{text-decoration: none;}
.dash-right .accordion > .card{border:0; }
.dash-right .card-body{padding: 0;}
.dash-right .accordion .btn-link[aria-expanded="true"]:after {content: "-"; font-size: 45px; font-weight: 500; margin-top: -5px; }
.dash-right .list-header{padding: 10px 0px;}
.dash-right .list-header li{font-weight: bold;font-family: 'TradeGothic LT';}
.full-list-data .image-profile{height: 46px;width: 46px;margin-right: 40px;}
.full-list-data .image-profile img{width: 100%;height: 100%;object-fit: cover;}
.full-list-data .info, .full-grid-data .info{position: relative; cursor: pointer;}
.full-list-data .info:hover ~  .info-details, .full-grid-data .info:hover ~ .info-details{opacity: 1;visibility: visible;}
.activity-list li .f-single-main > div{flex: 1;}
.list-header ul li{flex: 1;}
.list-header ul li:first-child ,.full-list-data .image{min-width: 300px;}
.list-header ul li:first-child span{padding-left: 95px;}
.info-details{    position: absolute; left: 0; bottom: 100%; min-width: 200px; transition: 0.4s; -webkit-box-shadow: -1px 1px 8px -4px rgba(0,0,0,0.75); -moz-box-shadow: -1px 1px 8px -4px rgba(0,0,0,0.75); box-shadow: -1px 1px 8px -4px rgba(0,0,0,0.75); padding: 8px; border-radius: 10px; background-color: #fff;visibility: hidden; opacity: 0;font-size: 14px;font-family: 'TradeGothic LT';line-height: 20px;z-index: 1;}
.full-list-data li:nth-child(odd){background-color: #E0E6ED;}
.full-list-data li{padding: 11px 7px;}
.dash-right  .accordion{margin-bottom: 40px;}
.dash-right .accordion .btn{padding: 7px 7px;font-size: 12px;min-width: 158px;text-align: center;}
.dash-right .on-demand .btn{font-size: 11px;    padding: 4px 8px;}
.dash-right .on-demand.stock-view-list .single-demand h4{font-family: 'Bodoni SvtyTwo ITC TT';margin-bottom: 0;padding-bottom: 0;}
/*user dashboard css end*/

/*Contact page css*/
.stock-view .slider-details.min-height-banner {min-height: 254px;}
.text-blue {color: #09378A;}
.form-wrap p {font-family: 'TradeGothic LT';max-width: 710px;margin: 0 auto 20px;}
.form-wrap label {font-family: 'TradeGothic LT';}
.contact-form label {text-transform: uppercase;}
.contact-form .form-control, .spend-time-wrap .form-control {height: 53px;border-radius: 0;color: #6E6E6E;font-size: 15px;}
.contact-form .form-control::placeholder {color: rgba(110, 110, 110, 0.5);}
.contact-form .form-group {margin-bottom: 27px;}
.contact-form textarea.form-control {height: auto; padding-top: 12px;}
.contact-form .form-control:focus, .spend-time-wrap .form-control:focus {border: 1px solid #ced4da;}
.contact-form .select-wrap {position: relative;}
.contact-form .select-wrap:after {content: "\f078";position: absolute;right: 20px;top: 38%;font-family: "Font Awesome 5 Free";font-weight: 900;font-size: 12px;}
.contact-form select.form-control {padding-right: 45px;}
.contact-form .btn-wrap {width: 100%;margin: 0 auto;min-width: 172px;max-width: 172px;}
.form-wrap .btn {font-size: 20px;padding: 11px 28px;margin: 10px 0px;text-transform: uppercase;}
.contact-info-wrap .col-md-6 {margin-top: 30px;}
.contact-info-wrap .col-md-6:first-child, .contact-info-wrap .col-md-6:nth-child(2) {margin-top: 0;}
.contact-wrap {box-shadow: 0 2px 48px rgba(0,0,0,0.07);padding: 30px 20px;border-radius: 4px;text-align: center;min-height: 220px;}
.icon-box {width: 68px;height: 68px;background: #09378A;border-radius: 4px;display: flex;align-items: center;justify-content: center;margin: 0 auto 25px;}
.contact-wrap span {color: #09378A;font-weight: 700;}
.contact-wrap p {font-size: 14px;line-height: 19px;margin-top: 8px;color: #77838F;margin-bottom: 0;}
.contact-wrap p a {color: #77838F;}
.contact-wrap p a:hover {color: #09378A;}
.contact-info-wrap, .map-wrap {margin-top: 80px;}
.map-wrap {height: 470px;overflow: hidden;}
/*Contact page css end*/

/*terms & condition page css*/
.inner-banner-custom .slider-details{justify-content: center; padding: 50px 0px; min-height: 243px; }
.terms-and-condition{padding:60px 0px;}
.terms-and-condition h2{font-size: 20px;color: #09378A;font-family: 'TradeGothic LT';margin-top: 25px;}
.terms-and-condition p{font-family: 'TradeGothic LT'; font-size: 16px;color: #706967;    line-height: 1.8;}
.terms-and-condition ul {margin-bottom: 20px;}
.terms-and-condition ul li{padding-left: 20px;position: relative;}
.terms-and-condition ul li:before{content: "";position: absolute;left: 0;top: 15px; background-color: #706967;height: 7px;width: 7px;border-radius: 100%;display: inline-block;}
.terms-and-condition ul li{font-family: 'TradeGothic LT';font-size: 15px;line-height: 36px;}
/*terms & condition page css end*/

/*news page css*/
.news-serachbox {padding: 30px 0px 60px 0px;}
.news-serachbox .search-box-combo,.news-serachbox .select-box select,.news-serachbox .search-box-combo .submit-btn input[type="submit"] ,.news-serachbox  .search-box-combo .search-box .search-bx{background-color: #F2F2F2;}
.news-serachbox .date .set-date{border: 0;font-size: 13px;text-transform: uppercase; position: relative; background-color:#F2F2F2;color: #6E6E6E; }
.news-serachbox .search-box-combo{max-width: 755px;margin:0px 0px 0px auto;}
.news-serachbox .search-box-combo .search-box .search-bx{ width: 227px;   margin-left: 10px;color: #6E6E6E;}
.news-serachbox .select-box{width: 200px;}
.news-serachbox  input[type="date"]::-webkit-calendar-picker-indicator {color: rgba(0, 0, 0, 0); opacity: 1; display: block; margin-top: 5px; background: url(../images/date-icon.png) no-repeat; width: 16px; height: 18px; border-width: thin; cursor: pointer; }
.news-serachbox  .date{padding: 0px 11px 0px 15px; border-right: 1px solid #D8D5D5; }
.news-serachbox .search-box-combo .submit-btn input[type="submit"]{padding: 0px 14px 0px 20px; }
.news-serachbox h1{font-style: italic;font-size: 35px;}
.news-serachbox .search-box-combo .submit-btn input[type="submit"]:hover{color: #0fada2;}
.news-serachbox #loadMore:hover {color: blue; background-color: #fff; border: 1px solid blue; text-decoration: none; }
.news-serachbox .noContent {color: #000 !important; background-color: transparent !important; pointer-events: none; }
.news-list{padding-top: 30px; margin-top: 20px; border-top: 1px solid #D8D5D5; }
.news-list .single-news{box-shadow: 0px 0px 15px #00000012; }
.news-list .single-news figure img{width: 100%; }
.news-list .news-main{margin-bottom: 30px; }
.news-list .single-news span{color: #0FADA2; font-size: 15px; text-transform: uppercase; font-weight: 600; display: inline-block; margin-bottom: 15px; }
.single-news figure{height: 300px; overflow: hidden; }
.single-news figure img{height: 100%; width: 100%; object-fit: cover; transition: all .8s ease-out; }
.single-news:hover  figure img{transform: scale(1.1); }
.news-details{position: relative; width: calc(100% - 56px); margin:auto; background-color: #fff; margin-top: -50px; padding:20px 30px 60px 30px; text-align: left; }
.news-details h4{font-size: 24px; font-family: 'Bodoni SvtyTwo ITC TT'; color: #09378A; margin-bottom: 0; line-height: 30px; }
.news-serachbox{    border-bottom: 1px solid #D8D5D5;}
/*news page css end*/

/*About page css*/
.paragraph p {font-family: 'TradeGothic LT';line-height: 25px;margin-bottom: 25px;}
.blockquote p {font-family: 'Bodoni SvtyTwo ITC TT';font-size: 20px;line-height: 35px;letter-spacing: 0.5px;color: #0FADA2;font-style: italic;}
.blockquote.blockquote-left {padding-left: 20px;margin-bottom: 25px;}
.blockquote.blockquote-left {border-left: 4px solid #0FADA2;}
.video-img .play-btn {position: absolute;width: 90px;height: 90px;background:rgba(9, 55, 138, 0.75);}
.video-img .play-btn i {color: #fff;margin-left: 8px;}
.paragraph p:last-child {margin-bottom: 0;}
.bg-light-blue{background: #F5F7FC;}
.committee-wrap{background:#fff;box-shadow:0 0 25px rgba(0,14,103,.05);margin-left:85px;display:flex;padding:30px 30px 30px 70px;position:relative;margin-bottom:30px}
.committee-wrap .img-wrap{width:103px;height:103px;margin-left:0;margin-right:25px;position:absolute;left:-68px}
.committee-wrap .img-wrap img{width:100%;height:100%;border:4.5px solid #09378a}
.committee-wrap p{font-family:'TradeGothic LT';line-height:22px;font-size:14px}
.committee-wrap h6{color:#09378a;font-weight:700;font-size:16px;position:relative;margin-bottom:25px}
.committee-wrap h6:after{content:"";width:25px;height:2px;background:#09378a;position:absolute;left:0;bottom:-13px}
.committee-wrap a{font-family:'TradeGothic LT';color:#09378a;font-weight:700;font-size:14px}
.btn-big{font-size:20px;display:inline}
.team-wrap .img-wrap img{width:100%}
.team-wrap{position:relative;overflow:hidden}
.team-wrap .team-info{background:rgb(0,91,255,.8);transform:translateY(0);position:absolute;width:100%;height:100%;display:flex;align-items:center;color:#fff;flex-direction:column;justify-content:flex-end;transition:.5s all}
.team-wrap:hover .team-info{transform:translateY(-100%)}
.team-wrap .team-info h4{font-size:23px;font-family:'TradeGothic LT';font-weight:700;margin-bottom:0}
.team-wrap .team-info p{font-family:'TradeGothic LT';margin-bottom:0}
.team-wrap .team-info ul{display:flex;align-items:center;margin:10px 0 25px}
.team-wrap .team-info ul li a{color:#fff;font-size:18px}
.team-wrap .team-info ul li{margin:0 8px}
.small-title h3{font-family:'TradeGothic LT';font-size:28px;color:#09378a;font-weight:700}
ul.company-list{display:flex;align-items:center;flex-wrap:wrap}
ul.company-list li{width:25%;text-align:center;position:relative;height:100%}
ul.company-list li .img-wrap{padding:30px;height:auto;min-height:110px;display:flex;align-items:center;justify-content:center}
ul.company-list li:after{content:"";width:1px;height:100%;position:absolute;right:0;background:#ddd;top:0}
ul.company-list li:nth-child(4):after{display:none}

ul.company-list-wrap li .img-wrap {text-align: center;padding: 30px;height: auto;min-height: 110px;display: flex;align-items: center;justify-content: center;}
ul.company-list-wrap {border-right: 1px solid #ddd;}
ul.company-list-wrap li:first-child {border-bottom: 1px solid #ddd;}
/*About page css end*/

/*User login header css*/
.btn-icon-img,.btn-icon-img:focus,.btn-icon-img:hover{background:0 0}
.user-login-menu .btn-icon-img img{width:23px}
.user-login-menu .email-link img{width:29px}
.user-login-menu .navbar-collapse{top:84px; height: calc(100vh - 84px);}
.user-login-menu .sign-in-popup{top:82px!important;height:calc(100% - 82px)}
.scroll{height:330px}
.dropdown-menu.notification-wrap h4,ul.notification-list a{color:#fff}
.dropdown-menu.notification-wrap{min-width:300px}
ul.notification-list span.text-muted{color:rgba(255,255,255,.6)!important;font-size:14px;text-align:right}
.scroll{padding:10px 0}
ul.notification-list a{font-size:14px;font-family:'TradeGothic LT';font-weight:400;line-height:20px}
ul.notification-list li{padding:15px 0 0 15px}
ul.notification-list span.text-muted{border-bottom:1px solid rgba(255,255,255,.14);padding-bottom:15px}
/*User login header css end*/

/*Certificate css*/
.back-link{color:#0fada2}
.back-link i{margin-right:5px}
.back-link:hover{color:#005bff}
.tab-wrap{background:#005bff;color:#fff;padding:15px 25px}
.tab-wrap h5{font-size:24px;color:#fff;font-family:'TradeGothic LT'}
.tab-wrap .nav-tabs .nav-link.active{background:0 0;border-color:transparent; color: #fff !important;}
.tab-wrap .nav-tabs li{background:0 0;width:204px}
.tab-wrap .nav-tabs li a{color:rgba(255, 255, 255, 0.5)!important;border:none;display:flex;align-items:center;font-family:'TradeGothic LT';font-weight:700;font-size:22px}
.tab-wrap .nav-tabs li a i{font-size:28px;margin-right:8px}
/*Certificate css end*/

/*News details page css*/
.f-35{font-size: 35px;}
.f-18{font-size: 18px;font-family: 'TradeGothic LT';font-weight: bold;}
.news-title a{font-size: 15px;color: #0FADA2;}
.news-title a:hover{color: #09378A;}
.news-title span{color: #0FADA2;font-size: 20px;font-weight: 600;}
.news-wrap{    margin: 0px 7px;}
.news-title{border-bottom: 1px solid #D8D8D8;margin-bottom: 30px; padding-top: 30px;   padding-bottom: 15px;}
.news-detail-page .large-img{position: relative;margin-bottom: 25px;}
.large-img span{font-size: 20px;font-weight: 600;position: absolute;bottom: 20px;left: 20px;background-color: #0FADA2;color: #fff;display: inline-block;    padding: 11px 34px;}
.news-detail-page h4{font-family: 'TradeGothic LT';margin-bottom: 20px; line-height: 32px; font-size: 18px;font-weight: 600;font-style: italic; }
.news-detail-page p{font-family: 'TradeGothic LT';}
.news-detail-page blockquote{position: relative;padding-left: 100px; margin-top: 50px;}
.news-detail-page blockquote p{color: #09378A; font-size: 28px;font-family:'Bodoni SvtyTwo ITC TT';font-weight: bold;font-style: italic;line-height: 35px;}
.news-detail-page blockquote:before{content:"" ; position: absolute;left: 0;top: 12px; height: 50px;width: 50px;border-radius: 100%;background-color: #005BFF;}
.news-detail-page blockquote:after{content: "";position: absolute;left: 25px;top: 6px;width: 53px;height: 41px; background-image: url(../images/blue-quote.png);background-repeat: no-repeat;background-size: 100% 100%;}
.related-news h2{background-color: #fff;text-align: center;}
.related-news h4{margin-bottom: 18px;font-size: 21px;}
.related-news .single-demand .bottom-text{padding: 20px 20px 12px 20px;}
.related-news .search-all a{text-decoration: underline;}
.related-news{padding: 60px 0px 40px 0px;border-bottom: 1px solid #D8D5D5;}
/*news details page css end*/

/*audio -video page css*/
.stock-view-list .right-content li{padding: 0;border: 0;}
.stock-view-list .right-content  *{    font-family: 'Montserrat', sans-serif;}
.stock-view-list .right-content ul{margin-bottom: 25px;}
.stock-view-list .right-content li:not(:last-child){position: relative;padding-right: 10px;margin-right: 10px;}
.stock-view-list .right-content li:not(:last-child):before{content: "";position: absolute;top: 50%;right: 0; transform: translateY(-50%);width:1px ;background-color:  #D8D5D5;height: 80%;}
.stock-view-list .right-content li h6{margin-bottom: 0;color: #09378A;font-size: 16px;font-weight: bold;}
.stock-view-list .right-content span{font-size: 13px;font-weight: 500;}
.text-green{color: #0FADA2;}
.stock-view-list .right-content{padding-left: 0;min-width: 200px;margin-left: 15px;}
.stock-view-list .expire-date span{font-size: 13px;font-weight: 500;}
.pagination .prev .page-link ,.pagination .next .page-link {text-align: center; background-color: #09378A;height: 40px;width: 40px;border-radius: 0;}
.pagination  .page-item{margin: 0px 5px;}
.pagination {margin: 30px 0px 60px 0px; }
.pagination .page-link{background-color:  #F2F2F2;border: 0; color: #0A2E72;font-size: 15px; height: 40px; width: 40px; text-align: center;   font-family: 'TradeGothic LT';font-weight: bold; display: flex;align-items: center;justify-content: center;}
/*audio -video page css*/

/*video detail page css*/
.expiration-date-left {min-width: 250px; max-width: 250px; width: 100%; text-align: right;}
.video-wrapper {padding:56.25% 0 0 0;position:relative;}
.video-wrapper iframe {position:absolute;top:0;left:0;width:100%;height:100%;}
.border-btn.blue-border {border-color: #005BFF;}
.paragraph ul li{font-family:'TradeGothic LT';line-height:25px;position:relative;padding-left:20px}
.paragraph ul li::before{content:"\2022";color:#0fada2;font-weight:700;display:inline-block;width:7px;position:absolute;left:0;top:0}
.bundle-price-wrap{background:rgba(0,91,255,.04);padding:55px 28px;border-radius:6px}
.bundle-price-wrap .radio-list .radio{color:#6e6e6e;font-size:15px;line-height:24px;padding-left:9px}
.bundle-price-wrap .radio-list .radio b{display:block;color:#09378a;font-size:32px;margin:10px 0}
.bundle-price-wrap .radio-list .radio input{transform:scale(1.5);color:#000!important}
.custom-control-label::before{width:20px;height:20px}
.custom-control-input:checked~.custom-control-label::before{background:0 0;border-color:#09378a}
.custom-control-label::before{border:2px solid #09378a}
.custom-control-label::after{width:20px;height:20px;border-radius:50%}
.custom-radio .custom-control-input:checked~.custom-control-label::after{background:#09378a;background-image:none!important;transform:scale(.5)}.custom-control-input:focus~.custom-control-label::before{box-shadow:none}
.detail-info-tabs{background:#09378a;color:#fff;padding:25px 20px;display:flex;justify-content:space-between}
.detail-info-tabs li.nav-item .nav-link{padding:0;border:none;background:0 0;color:#fff;font-family:'TradeGothic LT';font-size:18px}
.btn-small{font-size:12px;padding:6px 12px;min-width:110px}
.btn-white{color:#005bff}
.btn-white:hover{background:#005bff!important;color:#fff}
.data-listing .btn-small.btn-white{height:32px}
.data-listing tbody td,.data-listing thead th{font-size:14px;vertical-align:middle;text-align:center;border-top:none}
.data-listing tbody td:first-child,.data-listing tbody td:nth-child(2),.data-listing thead th:first-child,.data-listing thead th:nth-child(2){text-align:left}
.data-listing .thumb-img img{width:48px;height:48px;min-width:48px;object-fit:cover}.data-listing tbody td{color:#6e6e6e}
.data-listing tbody tr:nth-child(4n+1),.data-listing tbody tr:nth-child(4n+2){background:rgba(224,230,237,.44)}
.data-listing thead tr th{background:#fff;padding:22px 12px}
.hiddenRow{padding:0!important}
.browse-all a{font-family:'TradeGothic LT';text-decoration:underline;margin:10px 0 35px;display:block}
.thumb-img.border{border-color:#09378a!important}
.small-radio .custom-control-label::after,.small-radio .custom-control-label::before{width:15px;height:15px;top:2px}.detail-info-tabs li.nav-item .nav-link.active{color:#08c7b9;position:relative}
.detail-info-tabs li.nav-item .nav-link.active:after{content:"";width:100%;height:4px;background:#08c7b9;position:absolute;bottom:-24px;left:0}.child-row .paragraph p{min-width:165px}.bundle-btns .add-cart{width:100%}
/*video detail page css*/

/*Audio detail page css*/
.audio-wrapper{background:rgba(0,91,255,.04);padding:25px 15px;border-radius:6px;margin-bottom:35px}
.aplayer .aplayer-pic{background-color:#005bff!important;background-size:40%;background-repeat:no-repeat;border-radius:6px}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar{background:rgba(0,91,255,.3)}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played{background:#005bff!important}
.faculty-list{display:inline-flex}
.faculty-list,.review-wrap{margin-top:12px}
#faculty .faculty-list .single-demand{margin:10px 6px 0}
#faculty .faculty-list .single-demand .top-img{height:200px}
#faculty .faculty-list .single-demand .bottom-text{padding:27px;margin-top:-1px;position:relative}
#faculty .faculty-list .single-demand .bottom-text h4,#faculty .faculty-list .single-demand .hover-text h4{font-family:'TradeGothic LT';font-size:18px}
#faculty .faculty-list .single-demand .bottom-text span,#faculty .faculty-list .single-demand .hover-text span{color:#fff;line-height:22px}#faculty .faculty-list .single-demand .hover-text>p{font-family:'TradeGothic LT';line-height:20px}
.review-head{display:flex;align-items:center;justify-content:space-between;margin:10px 0 15px}
.review-head p{font-family:'TradeGothic LT';color:#09378a;font-weight:700}
.review-head .btn-small{font-size:14px}
.review-list-wrap{background:rgba(224,230,237,.44);padding:25px}
.review-list-wrap li{display:flex;align-items:flex-start;margin-bottom:15px}
.review-list-wrap li:last-child{margin-bottom:0}
.review-list-wrap li .review-info .user-review{display:flex;align-items:self-start;justify-content:space-between}
.review-list-wrap li .img-wrap{width:80px;height:80px;min-width:80px;margin-right:22px}
.review-list-wrap li .img-wrap img{width:100%;height:100%;border-radius:50%;padding:4px;border:2px solid #dfdfdf}
.review-list-wrap li .review-info .user-review .user-name{display:flex;margin-bottom:15px;align-items:center}
.review-list-wrap li .review-info .user-review .user-name h5{font-weight:700;color:#4c4441}
.review-list-wrap li .review-info .user-comment p{font-size:15px;font-family:'TradeGothic LT';line-height:23px}
.review-list-wrap li .review-info .user-review .user-name span{color:#09378a;font-size:14px}
.star-wrap i{color:#0fada2}.user-comment a{color:#08c7b9;text-decoration:underline}
.modal-form label{font-size:14px;margin-bottom:12px}
.modal-form .form-control{border-radius:0;font-size:14px;height:43px}
.modal-form textarea.form-control{height:auto}
.modal-form .form-control:focus{border:1px solid #ced4da}
.starrating>input{display:none}
.starrating>label{color:rgba(15,173,162,.35)}
.starrating>label i{font-size:22px;margin-right:5px}
.starrating>input:checked~label{color:#0fada2}
.starrating>input:hover~label{color:#0fada2}
/*Audio detail page css*/

/*Payment Successfull page css*/
.payment-successfull-wrap h1{font-weight:700;color:#09378a;margin:30px 0 10px}
.payment-successfull-wrap p{font-size:18px;color:#0fada2;font-weight:500;margin-bottom:32px}
.payment-successfull-wrap{padding:100px 0}
/*Payment Successfull page css*/

/*Activity Detail page css*/
.full-screen-switch .compress,.full-screen-switch.full-view .expand{display:none}
.full-screen-switch .expand,.full-screen-switch.full-view .compress{display:inline-block;cursor:pointer;color:#005bff;text-transform:uppercase}.full-screen-switch .compress i,.full-screen-switch .expand i{font-size:20px;margin-right:8px}
.activity-btns-wrap .btn-small{min-width:auto;font-size:14px}
.activity-btns-wrap .btn-text-size{background:rgba(0,91,255,.04);color:#09378a;font-weight:600}
.activity-points-wrap{margin:40px 0;font-family:'TradeGothic LT'}
.activity-points-wrap h4{font-family:'Font Awesome 5 Free';font-size:28px;line-height:44px;margin-bottom:18px}
.activity-points-wrap .point-info p{margin-bottom:10px;position:relative}
.activity-points-wrap .point-info p b{color:#0fada2;font-weight:400;margin-right:10px}
.activity-points-wrap p{font-size:16px;line-height:28px}
.activity-points-wrap{display:none}
.activity-points-wrap:first-child{display:block}
.print-section.full-screen .activity-points-wrap{border-top:1px solid #dee2e6;padding-top:28px}
.print-section.full-screen .activity-points-wrap:first-child{padding-top:0;border-top:none}
.print-section.full-screen{counter-reset:section}
.print-section.full-screen .activity-points-wrap{display:block!important}
.print-section.full-screen .activity-points-wrap h4:before{counter-increment:section;content:counter(section) " - "}
.pagination-wrap{border:1px solid #d8d5d5;padding:15px}
.pagination-wrap .pagination{margin:0;justify-content:center}
.pagination-wrap .pagination .page-item:first-child .page-link,.pagination-wrap .pagination .page-item:last-child .page-link{background:#09378a;color:#fff}
.pagination-wrap .pagination .page-item .page-link{border-radius:4px;background:0 0}
.pagination-wrap .pagination .page-item.active .page-link{background:#005bff;box-shadow:0 5px 20px rgba(0,91,255,.38)}
/*Activity Detail page css*/

/*Responsive Filter modal css*/
.modal-form.filter-menu{width:100%!important;border-right:none;margin-left:0!important;}
.modal-form.filter-menu .card{border-bottom:1px solid #ddd!important;border-radius:0!important;}
.more-filter-btn{padding:11px 0;font-size:15px;font-weight:600;margin:15px;align-items:center;justify-content:center;}
.more-filter-btn span{margin-right:15px;}
.more-filter-btn circle{fill:#fff;}
.more-filter-btn path{stroke:#fff;}
/*Responsive Filter modal css*/

/*Video Page css*/
.video-detail-wrap .head{background:#09378a;padding:16px 15px}
.video-detail-wrap .head p{font-size:18px;line-height:24px;font-family:'TradeGothic LT';color:#fff;margin-bottom:0}
.video-detail-wrap .video-time-info li{position:relative;font-family:'TradeGothic LT';padding:15px 15px 15px 110px}
.video-detail-wrap .video-time-info li span{position:absolute;left:20px;color:#005bff;top:20px;font-weight:600}
.video-detail-wrap .video-time-info li p{margin-bottom:0;letter-spacing:-.5px;color:#6e6e6e}
.video-detail-wrap .video-time-info li:nth-child(odd){background:rgba(224,230,237,.44)}
.video-material .learning-objective li{position:relative;margin-bottom:6px;line-height:26px;padding-left:15px}
.video-material{font-family:'TradeGothic LT'}
.video-material .learning-objective li:before{content:"-";position:absolute;left:0;top:0}
ul.materials-list li{margin-bottom:10px}
ul.materials-list li a{background:rgba(0,91,255,.05);padding:14px;display:block;font-weight:500}.side-faculty-wrap {display: flex;border-right: 7px solid #0FADA2;background: #005BFF;color: #fff;}
.side-faculty-wrap .img-wrap {width: 125px; min-width: 125px;}
.side-faculty-wrap .faculty-info {margin: 0 22px;display: flex;flex-direction: column;justify-content: center;width: 100%;}
.side-faculty-wrap .faculty-info h4 {font-size: 18px;font-family: 'TradeGothic LT';border-bottom: 1px solid rgb(0 39 110 / 0.2);padding-bottom: 12px;}
/*Video Page css*/

/*Preset page css*/
.radio-top.custom-radio .custom-control-label::before, .radio-top.custom-radio .custom-control-input:checked~.custom-control-label::after {top: 0;}
.radio-top.label-space.custom-radio .custom-control-label::before, .radio-top.label-space.custom-radio .custom-control-input:checked~.custom-control-label::after {left: -35px;}
.radio-list .custom-control.radio-top.label-space {padding-left: 38px;}
.question-list li label.question-name {font-size: 20px;line-height: 26px;color: #09378A;font-weight: 600;padding-left: 0;display: inline-block;margin-bottom: 32px;position: relative;display: flex;align-items: center;    padding-left: 55px;
  min-height: 40px;}
.question-list {font-family: 'TradeGothic LT';counter-reset:section;}
.question-list li label.question-name:before {counter-increment:section;content:counter(section);width: 40px;height: 40px;display: flex;align-items: center;justify-content: center;background: #09378A;border-radius: 4px;color: #fff;font-family: 'TradeGothic LT';min-width: 40px;margin-right: 16px; position: absolute;
  top: 0;
  left: 0;}
/*Preset page css*/

/*Post page css*/
.question-list li label.question-name.wrong-ans,.text-red{color:#e96565}
.question-list li label.question-name.wrong-ans:before{background:#e96565}
.question-list li label.question-name.right-ans,.text-green{color:#0fada2}
.question-list li label.question-name.right-ans:before{background:#0fada2}
#results .result-wrap,#results .result-wrap h2,.result-info .alert-primary{font-family:'TradeGothic LT'}
.alert-primary{background-color:rgba(0,91,255,.04);border:none}
.result-info .alert-primary{font-size:18px;line-height:24px}
.progress-bar{border-radius:30px;font-size:10px}
.question-list textarea.form-control{border-radius:0;padding:15px}
.question-list textarea.form-control::placeholder{color:rgba(110,110,110,.5)}
.question-list textarea.form-control:focus{border-color:#ced4da}
.evaluation-info p{font-size:20px;line-height:28px}
.select-wrap{position:relative}
.select-wrap:after{content:"\f078";position:absolute;right:20px;top:38%;font-family:"Font Awesome 5 Free";font-weight:900;font-size:12px}select.form-control{padding-right:45px}
/*Post page css*/

/*Cart page css*/
.primary-table{overflow:hidden;border-radius:4px 4px 0 0}
.primary-table thead th{border-bottom:none;background:#09378a;color:#fff;text-align:center;text-transform:uppercase;font-size:18px;font-weight:400}
.primary-table td:first-child,.primary-table thead th:first-child{text-align:left}
.primary-table td,.primary-table th{vertical-align:middle}
.primary-table td{text-align:center;color:#6e6e6e}
.cart-table .thumb-img{width:90px;height:90px}
.cart-table .thumb-img img{width:100%;height:100%;object-fit:cover}
.cart-table h4{font-size:20px;margin-bottom:12px}
.cart-table tbody td:first-child{padding-left:0}
.cart-table tbody td:last-child{padding-right:35px;min-width:155px;text-align:right}
.cart-table td .fa-times-circle{font-size:20px;cursor:pointer;position:absolute;right:15px}
.cart-table tbody td{padding:25px 15px;font-size:15px}
.cart-table tbody td span.text-blue{font-size:16px}
.cart-table tr.main-tr td{padding-bottom:0;border-bottom:none}
.cart-table tr.sub-tr td{border:none;padding:0 0 5px}
.cart-table tr.sub-tr td:last-child{padding-right:35px;text-align:right;width:155px}
.cart-table tr.sub-tr td:first-child{padding-left:107px}
.cart-table tr.sub-tr-seprator td{border-top:none;padding-top:0;padding-bottom:0}
.cart-table .coupancode .input-group{width:280px}
.cart-table .coupancode .input-group-append .btn{padding:0 23px}
.cart-table .coupancode .input-group input{border-color:#005bff;border-radius:0}
.cart-table h3{font-size:22px;font-family:'TradeGothic LT'}
.cart-table .subtotal-price{background:rgba(9,55,138,.08)}
.cart-table .subtotal-price td,.cart-table .total-price td{border-top:none;padding:10px}
.primary-head{background:#09378a;color:#fff;border-radius:4px 4px 0 0;padding:15px 15px}
.primary-head h4{font-family:'TradeGothic LT';text-transform:uppercase;font-size:18px;font-weight:400;margin-bottom:0}
.form-input{height:53px;border-radius:0;color:#6e6e6e;font-size:15px}
textarea.form-input{height:auto;padding-top:12px}
.select2-container .select2-selection--single{height:53px;border-radius:0;border-color:#ced4da}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:53px;padding-left:13px;color:#6e6e6e}
.select2-container--default .select2-selection--single .select2-selection__arrow{display:none}
.payment-form .custom-control-input:checked~.custom-control-label::before{background-color:#007bff!important}
.form-input~.select2-container{width:100%!important}
.btn-tooltip.help{position:absolute;right:30px;top:18px;color:#c3c6d1}
/*Cart page css*/

/*User Dashboard page css*/
.profil-info-tab-wrap.active~.overview-info{display:none}
.profil-info-tab-wrap.active .profile-info-tabs{display:block!important}
.mw-100{max-width:100%}
.my-order-search-box i.fa-search{font-size:18px}
.my-order-search-box .select-date input{border:transparent;font-size:13px;width:100%!important}
.my-order-search-box .search-bx{width:100%!important;border-right:0!important}
.my-order-search-box .submit-btn{width:100%;text-align:center;color:#005bff}
.my-order-search-box .submit-btn input{font-weight:700;padding:0!important}
.border-sm-right{border-right:1px solid #dee2e6!important}
.search-box-combo.my-order-search-box{padding:13px 15px!important}
.order-table thead th{text-transform:inherit}
.btn-icon{padding:5px 12px;font-size:12px}
.order-table tbody td{font-size:14px;border-top:none}
.table-striped tbody tr:nth-of-type(odd){background-color:rgba(224,230,237,.4)}
.order-table .btn-small{min-width:150px}
.plan-select select{font-family:'TradeGothic LT';font-size:20px;padding-bottom:15px}
.select-wrap.plan-select:after{color:#0fada2;font-size:17px;top:12px;right:0}
/*User Dashboard page css*/

.grid-view, .list-view {
  cursor: pointer;
}
.recent-grid, .recent-list, .completed-grid, .completed-list {
  display: none;
}
.recent-grid.active, .recent-list.active, .completed-grid.active, .completed-list.active {
  display: block;
}
.abstract-tbl td.abstact-info-td {
  max-width: 470px;
}
.table-striped tbody tr:nth-of-type(even) {
  background: #fff;
}
span.next-icon {
  position: absolute;
  right: 8px;
  height: calc(100% - 16px);
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  border: 2px solid #fff;
}
span.next-icon i {
  font-size: 15px;
  margin-left: 3px;
}
#playlist .aplayer-list li {
  padding: 15px 15px !important;
  font-size: 14px !important;
  height: auto !important;
  line-height: 22px;
}
#playlist .aplayer-body {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px 4px 0 0;
}
#playlist .aplayer .aplayer-list ol li .aplayer-list-cur {
  top: 15px;
}
.border-left-md-0 {
  border-left: 0 !important;
}
.border-right-md-0 {
  border-right: 0 !important;
}
.min-font-size {
  font-size: 16px;
}
.max-font-size {
  font-size: 24px;
}
.min-font-size, .max-font-size {
  font-weight: 600;
  color: #09378A;
}
.font-size-wrap .full-screen-switch, .font-size-wrap .activity-btns-wrap {
  background: rgba(0,91,255,.04);
}
.font-size-wrap .full-screen-switch {
  padding: 12px 14px;
}
.font-size-wrap .activity-btns-wrap {
  padding: 8px 14px;
}
.btn-small-sm {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545;
}

.repeater.licence-info .btn-danger {
  height: 53px;
}
.repeater.licence-info .btn-add {
  height: 45px;
  padding: 10px 20px;
}
.user-dashboard-main .dash-title img {
  transform: rotate(180deg);
  margin-top: 8px;
  transition: 0.4s all;
}
.user-dashboard-main .dash-title.active img {
  transform: rotate(0deg);
}
.select-wrap:after, .select-box:after {
  transition: 0.4s all;
}
.select-wrap.open:after, .select-box.open:after {
  transform: rotate(180deg);
}